@using System.Globalization
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewData["Description"]">
    <meta name="author" content="">
    <!--Less styles -->
    <!-- Other Less css file //different less files has different color scheam
     <link rel="stylesheet/less" type="text/css" href="/themes/less/simplex.less">
     <link rel="stylesheet/less" type="text/css" href="/themes/less/classified.less">
     <link rel="stylesheet/less" type="text/css" href="/themes/less/amelia.less">  MOVE DOWN TO activate
     -->
    <!--<link rel="stylesheet/less" type="text/css" href="/themes/less/bootshop.less">
    <script src="/themes/js/less.js" type="text/javascript"></script> -->
    <!-- Bootstrap style -->
    <link id="callCss" rel="stylesheet" href="/themes/bootshop/bootstrap.min.css" media="screen" />
    <link href="/themes/css/base.css" rel="stylesheet" media="screen" />
    <!-- Bootstrap style responsive -->
    <link href="/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->
    <link href="/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/flowershop-339a3.appspot.com/o/logo-color.png?alt=media&token=a78cec4a-59d4-4803-96fe-9ead9a2a86de">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/themes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/themes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/themes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/themes/images/ico/apple-touch-icon-57-precomposed.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-XXzmvVRqRkMghjHzEqh7NqzC4BxmMUrQz9Tm8/a6uzTDsS9rSFKF/jOoq3b01GnEzyP+8W8nmLr2BysAm3mL+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css" id="enject"></style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
    <style>
        .cart {
            position: relative;
            display: block;
            width: 38px;
            height: 28px;
            height: auto;
            overflow: hidden;
        }

        .count {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            font-size: 11px;
            border-radius: 50%;
            background: #d60b28;
            width: 16px;
            height: 16px;
            line-height: 16px;
            display: block;
            text-align: center;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }

        .site-footer {
            background-color: #26272b;
            padding: 45px 0 20px;
            font-size: 15px;
            line-height: 24px;
            color: #737373;
        }

            .site-footer hr {
                border-top-color: #bbb;
                opacity: 0.5
            }

                .site-footer hr.small {
                    margin: 20px 0
                }

            .site-footer h6 {
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                margin-top: 5px;
                letter-spacing: 2px
            }

            .site-footer a {
                color: #737373;
            }

                .site-footer a:hover {
                    color: #3366cc;
                    text-decoration: none;
                }

        .footer-links {
            padding-left: 0;
            list-style: none
        }

            .footer-links li {
                display: block
            }

            .footer-links a {
                color: #737373
            }

                .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
                    color: #3366cc;
                    text-decoration: none;
                }

            .footer-links.inline li {
                display: inline-block
            }

        .site-footer .social-icons {
            text-align: right
        }

            .site-footer .social-icons a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 6px;
                margin-right: 0;
                border-radius: 100%;
                background-color: #33353d
            }

        .copyright-text {
            margin: 0
        }

        .social-icons {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none
        }

            .social-icons li {
                display: inline-block;
                margin-bottom: 4px
            }

                .social-icons li.title {
                    margin-right: 15px;
                    text-transform: uppercase;
                    color: #96a2b2;
                    font-weight: 700;
                    font-size: 13px
                }

            .social-icons a {
                background-color: #eceeef;
                color: #818a91;
                font-size: 16px;
                display: inline-block;
                line-height: 44px;
                width: 44px;
                height: 44px;
                text-align: center;
                margin-right: 8px;
                border-radius: 100%;
                -webkit-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear
            }

                .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
                    color: #fff;
                    background-color: #29aafe
                }

            .social-icons.size-sm a {
                line-height: 34px;
                height: 34px;
                width: 34px;
                font-size: 14px
            }

            .social-icons a.facebook:hover {
                background-color: #3b5998
            }

            .social-icons a.twitter:hover {
                background-color: #00aced
            }

            .social-icons a.linkedin:hover {
                background-color: #007bb6
            }

            .social-icons a.dribbble:hover {
                background-color: #ea4c89
            }

        <style >
        * {
            box-sizing: border-box;
        }

        #search-container {
            position: relative;
        }

        #search-icon {
            font-size: 16px;
            cursor: pointer;
            margin-top: 24px;
            margin-left: 8px;
        }

        #search-form {
            width: 200px;
            position: absolute;
            right: 0px;
            display: none;
        }

            #search-form input#keyword {
                padding: 6px 9px;
                width: 100%;
                outline: none;
                border: 1px solid #333;
                box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
            }
    </style>

</head>
<body>
    <input type="hidden" id="hidCulture" value="@culture" />
    <input type="hidden" id="hidBaseAddress" value="@Configuration["BaseAddress"]" />
    <div id="header">
        <div style="color: #3f3f3f !important">

            <!-- Navbar ================================================== -->
            <div id="logoArea" class="navbar" style="display:block !important; padding:0 !important; margin-bottom: 0px">
                <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-inner" style="background-color:#ffffff; background-image:none; display: flex; align-items:center; justify-content: space-between">
                    <div style="display: flex; align-items: center">
                        <a class="brand" href="/"><img src="/themes/images/logo.png" alt="Bootsshop" style="width:100px" /></a>
                        <form class="form-inline navbar-search" method="post" asp-controller="Home" asp-action="Index">
                            <input id="srchFld" name="keyword" class="srchTxt" type="text" style="height: 40px; border-radius: 16px; padding-left: 32px; margin-right: 8px" />
                            <select name="categoryId" class="srchTxt" style="border-radius: 16px; padding: 3px; margin-right: 8px; height: 40px" asp-items="@ViewBag.Categories">
                                <option>All</option>

                            </select>
                            <button type="submit" id="submitButton" class="btn btn-primary" style="height: 40px;">
                                Search
                            </button>
                        </form>
                    </div>

                    <ul id="topMenu" class="nav pull-right" style="overflow: visible    ">
                        <li class=""><a href="/" localize-content style="color: #3f3f3f; font-weight: 500">Home</a></li>
                        <li class=""><a asp-route-culture="@culture" localize-content style="color: #3f3f3f; font-weight: 500">Introduction</a></li>
                        <li class=""><a asp-route-culture="@culture" localize-content style="color: #3f3f3f; font-weight: 500">News</a></li>
                        <li class=""><a asp-route-culture="@culture" localize-content style="color: #3f3f3f; font-weight: 500">Contact</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class=""><a asp-action="GetBillHistory" asp-controller="Order" style="color: #3f3f3f; font-weight: 500">My Bill</a></li>

                        }
                        else
                        {
                            <li class="" id="search-container">
                                <p id="search-icon" style="color: #3f3f3f; font-weight: 500">Order Status</p>

                                <form method="get" action="/@culture/Order/SearchBillById" id="search-form">
                                    <div class="d-flex" style="align-items: center; gap: 8px">
                                        <input id="keyword" type="number" name="id" placeholder="Enter ID" style="height: 32px; margin-bottom: 0;" />
                                        <button type="submit" class="btn btn-primary" style="height: 32px; line-height: 18px">Search</button>
                                    </div>

                                </form>
                              
                            </li>
                        }

                    </ul>

                    <div class="nav-right" style="display: flex; align-items: center; gap: 14px">
                        <ul id="topMenu" class="nav pull-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="">
                                    <a asp-action="Details" asp-controller="User">
                                        <span class="btn btn-large btn-info"><i class="fa fa-user-o" style="padding-right: 8px"></i>@User.Identity.Name</span>
                                    </a>
                                </li>


                                <li class="" style="line-height: 49px !important">
                                    <form action="/@culture/Account/Logout" method="post" style="margin: 0px">
                                        <button type="submit" style="padding-right:0;margin-top:10px;margin-bottom:0px;background:transparent;border:none;">
                                            <span class="btn btn-large btn-warning"><localize>Logout</localize></span>
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="">
                                    <a href="/@culture/Account/Login" style="padding-right:0">
                                        <span class="btn btn-large btn-primary">Login</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/@culture/Account/Register" style="padding-right:0">
                                        <span class="btn btn-large btn-primary">Register</span>
                                    </a>
                                </li>
                            }
                        </ul>

                        <language-nav language-label="NativeName"
                                      cookie-handler-url="@(Url.Action("SetCultureCookie", "Home", new { area= "", cltr="{0}", returnUrl="{1}" }))">
                        </language-nav>

                        @*<a href="/@culture/cart">
                        <span class="btn btn-mini btn-primary">
                        <i class="icon-shopping-cart icon-white"></i> [ <span id="lbl_number_items_header">0</span> ]
                        </span>
                        </a>*@

                        <div class="cart">
                            <a href="/@culture/cart" style="text-decoration: none">
                                <span id="lbl_number_items_header" class="count">0</span>
                                <!--   <span class="count">1</span> -->
                                <i class="icon-shopping-cart icon-white" style="font-size: 28px"></i>
                            </a>

                        </div>

                    </div>
                </div>




            </div>
        </div>
    </div>
    <!-- Header End====================================================================== -->
    @RenderSection("slider", required: false)
    <div id="mainBody">
        <div class="container">
            <div class="row" style="flex-wrap: nowrap; margin-right: 0px; margin-left: -30px">
                <!-- Sidebar ================================================== -->
                @await Component.InvokeAsync("SideBar")
                <!-- Sidebar end=============================================== -->
                <div class="col-10" style="margin-bottom: 16px">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Footer ================================================================== -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">"420 Flowers - Where Blossoms Meet Bliss" is your premier online floral destination. We offer a diverse array of fresh and beautiful blooms for every occasion. With easy online shopping and same-day delivery, expressing your emotions through our stunning flowers is more convenient than ever. Our dedicated customer support team ensures a seamless experience, and our commitment to eco-conscious practices sets us apart. Join us at 420 Flowers to celebrate life's beautiful moments with the elegance of fresh blossoms. 🌺🌸🌼🌷🌻</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">

                        <li><a href="http://scanfcode.com/category/c-language/">Love Flowers</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">Birthday Flowers</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">Congratulation Flowers</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Condolence Flowers</a></li>

                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">
                        Copyright &copy; 2023 All Rights Reserved by
                        <a href="#">420 Flowers</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                        <li><a class="youtube" href="#"><i class="icon-envelope"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Placed at the end of the document so the pages load faster ============================================= -->
    <script src="/themes/js/jquery.js" type="text/javascript"></script>
    <script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/themes/js/google-code-prettify/prettify.js"></script>

    <script src="/themes/js/bootshop.js"></script>
    <script src="/themes/js/jquery.lightbox-0.5.js"></script>
    <script src="/js/site.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

    <script>

        var site = new SiteController();
        site.initialize();
        $(document).ready(function () {
            $('#example').DataTable();
        });
        document.addEventListener('DOMContentLoaded', function () {
            const searchIcon = document.getElementById('search-icon');
            const searchForm = document.getElementById('search-form');

            searchIcon.addEventListener('click', function () {
                if (searchForm.style.display === 'block') {
                    searchForm.style.display = 'none';
                } else {
                    searchForm.style.display = 'block';
                }
            });

            //CLick out
            document.addEventListener('click', function (event) {
                console.log(event.target);
                if (event.target != searchIcon && !searchForm.contains(event.target)) {
                    searchForm.style.display = 'none';
                }
            });
        });
    </script>
    @RenderSection("scripts", required: false)

    @RenderSection("links", required: false)

    <!-- Themes switcher section ============================================================================================= -->
    <div id="secectionBox">
        <link rel="stylesheet" href="/themes/switch/themeswitch.css" type="text/css" media="screen" />
        <script src="/themes/switch/theamswitcher.js" type="text/javascript" charset="utf-8"></script>
        <div id="themeContainer">
            <div id="hideme" class="themeTitle">Style Selector</div>
            <div class="themeName">Oregional Skin</div>
            <div class="images style">
                <a href="/themes/css/#" name="bootshop"><img src="/themes/switch/images/clr/bootshop.png" alt="bootstrap business templates" class="active"></a>
                <a href="/themes/css/#" name="businessltd"><img src="/themes/switch/images/clr/businessltd.png" alt="bootstrap business templates" class="active"></a>
            </div>
            <div class="themeName">Bootswatch Skins (11)</div>
            <div class="images style">
                <a href="/themes/css/#" name="amelia" title="Amelia"><img src="/themes/switch/images/clr/amelia.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="spruce" title="Spruce"><img src="/themes/switch/images/clr/spruce.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="superhero" title="Superhero"><img src="/themes/switch/images/clr/superhero.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="cyborg"><img src="/themes/switch/images/clr/cyborg.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="cerulean"><img src="/themes/switch/images/clr/cerulean.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="journal"><img src="/themes/switch/images/clr/journal.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="readable"><img src="/themes/switch/images/clr/readable.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="simplex"><img src="/themes/switch/images/clr/simplex.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="slate"><img src="/themes/switch/images/clr/slate.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="spacelab"><img src="/themes/switch/images/clr/spacelab.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="united"><img src="/themes/switch/images/clr/united.png" alt="bootstrap business templates"></a>
                <p style="margin:0;line-height:normal;margin-left:-10px;display:none;"><small>These are just examples and you can build your own color scheme in the backend.</small></p>
            </div>
            <div class="themeName">Background Patterns </div>
            <div class="images patterns">
                <a href="/themes/css/#" name="pattern1"><img src="/themes/switch/images/pattern/pattern1.png" alt="bootstrap business templates" class="active"></a>
                <a href="/themes/css/#" name="pattern2"><img src="/themes/switch/images/pattern/pattern2.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern3"><img src="/themes/switch/images/pattern/pattern3.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern4"><img src="/themes/switch/images/pattern/pattern4.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern5"><img src="/themes/switch/images/pattern/pattern5.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern6"><img src="/themes/switch/images/pattern/pattern6.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern7"><img src="/themes/switch/images/pattern/pattern7.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern8"><img src="/themes/switch/images/pattern/pattern8.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern9"><img src="/themes/switch/images/pattern/pattern9.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern10"><img src="/themes/switch/images/pattern/pattern10.png" alt="bootstrap business templates"></a>

                <a href="/themes/css/#" name="pattern11"><img src="/themes/switch/images/pattern/pattern11.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern12"><img src="/themes/switch/images/pattern/pattern12.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern13"><img src="/themes/switch/images/pattern/pattern13.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern14"><img src="/themes/switch/images/pattern/pattern14.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern15"><img src="/themes/switch/images/pattern/pattern15.png" alt="bootstrap business templates"></a>

                <a href="/themes/css/#" name="pattern16"><img src="/themes/switch/images/pattern/pattern16.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern17"><img src="/themes/switch/images/pattern/pattern17.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern18"><img src="/themes/switch/images/pattern/pattern18.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern19"><img src="/themes/switch/images/pattern/pattern19.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern20"><img src="/themes/switch/images/pattern/pattern20.png" alt="bootstrap business templates"></a>
            </div>
        </div>
    </div>
    <span id="/themesBtn"></span>
</body>
</html>

